.box{
    background-color: burlywood;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline-block;
    margin: -2px;
    
}
 .black{
    background-color: black;

 }
 h1{
   font-size: 5rem;
   text-align:center;
   position: relative; 
   width: 150px;
   left:400px;
   height: 100px;
   
 }
 {
    background-color: red;
 }
.button {
 
    
    box-shadow: 10px 10px 10px black;
  }
  .button .black:hover{
    top: 45px;
    transition-duration: 2s;
    cursor: pointer;
    background-color: red;
    box-shadow: 10px 10px 10px black;
  }
